// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.intro {
  margin-top: 20px;
  margin-left: 20px;

  p{
    margin-left: 40px;
  }
}